body{
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background:rgb(35, 60, 107);
    height: 7vh;
    box-shadow: 0px 05px 17px black;
}
.Icon{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    font-size: 2.2rem;
    border-radius: 100%;
}
.Icon i{
    cursor: pointer;
    color:rgb(35, 60, 107) ;
    border: 2px solid rgb(35, 60, 107);
    gap: 1rem;
    padding: 1rem;
    height: 2rem;
    border-radius: 100%;
    width: 2rem;
    text-align: center;
    box-shadow: 0px 0px 5px transparent;
    transition:all 0.2s ease;
}
.Icon i:hover{
    transform: scale(1.2);
    background-color: rgb(35, 60, 107);
    color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 5px white;
}

.button{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    gap: 1rem;
}

.button button{
    padding: 0.5rem 1.5rem;
    border: none;
    background-color:#1a2f4d;
    height: 4vh;
    font-size: 1.2rem;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button button:hover{
    background-color: rgb(255, 255, 255);
    color: cornflowerblue;
}

footer{
    position: fixed;
    bottom: 0;
    background: rgb(35, 60, 107);
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 5px black; 
}
